.name-selected-type {
    background: #14274E;
    color: white;
    padding: 0.4vw;
}

.age-limit {
    font-weight: bold;
    color: white;
    background: #e17346;
    padding: 1%;
    margin-right: 2%;
    margin-left: auto;
    width: 2.9vw;
    height: 2.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-film-select:hover {
    background-color: #e4dede;
}

.film-selected {
    background-color: #e4dede;
}

#thead-food {
    background: #14274E;
    color: white;
}

ul li {
    list-style: none;
}

.page-control {
    text-decoration: none;
    color: #e17346;
}

.screen {
    width: 60%;
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-image: repeating-linear-gradient(50deg, #E3E3E3 0px, #E3E3E3 3px,
            transparent 3px, transparent 4px, #E3E3E3 0px);
    color: #0e1d2f;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.seat-root {
    background-color: transparent;
    color: black;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 0.8vw;
    text-align: center;
    line-height: 40px;
    color: #44464b;
    font-weight: bold;
}

.seatMap {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 0.2vw;
    text-align: center;
    line-height: 40px;
    color: #ca3939;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.Double {
    width: 62px !important;
    height: 56px;
    margin-right: 0.3vw;
}

.selected {
    border: 2px solid rgb(30, 190, 113);
}

.Booked {
    color: black;
}

#bill-child {
    background: #f1f1f1;
}

#bill-child h5 {
    background: #e16346;
    color: white;
}

.text-orange {
    color: #e16346;
}

.bg-orange {
    background: #e16346;
}

.btn-bill {
    color: white;
    width: 9vw;
}

.mb-20vh {
    margin-bottom: 20vh;
}

.equal-height-rows td {
    height: 80px;
    vertical-align: middle;
}