.film-info{
    display: flex; 
    width: 50vw;
    margin-bottom: 1.8vh; 
}
.spInfo{ 
    word-wrap: break-word;
    font-size: 17px;    
    margin-left: 0.9vw;
}
.sptxt{ 
    font-weight: bold;
    font-size: 17px;
    margin-left: 0.5vw; 
    min-width: 160px;
}
#imgFilm{
    height: 24vw;
    width: 16vw;
} 
#content-film{
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
} 