#thead-bill{
    background-color: rgb(242, 107, 4);
    color: white;
    font-weight: bold; 
} 
hr{ 
    border: 0.8px solid black;
}
.divInfo > div:not(.Name) {
    display: none;
}
.row ul:nth-child(n+5) {
    display: none;
} 
.status-film-homepage{ 
    padding: 1%;
    font-weight: 520;
    font-size: 1.4em;
    font-family: sans-serif;
    color: rgb(242, 107, 4);
    text-decoration: none;  
} 