ul.nav2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.dropdown-toggle::after {
  border-top-color: white;
} 

.nav-link2 {
  padding-right: 0;
  padding-left: 0;
}

.nav-item {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.no-margin {
  margin: 0 !important;
}

.header {
  padding: 0;
}

.overlay {
  position: fixed;
  /* Định vị tuyệt đối trên màn hình */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Màu nền đen trong suốt */
  z-index: 99 !important;
  /* Chỉ định độ ưu tiên trên các phần tử khác */


}

.whitebg {
  background-color: rgba(255, 255, 255, 0.8)
}

.contentLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  /* Chiều rộng của div con */
  max-height: 80%;
  /* Chiều cao tối đa của div con */
  background-color: white;
  /* Màu nền của div con */
  padding: 20px;
  /* Khoảng cách giữa nội dung và viền của div con */
  border-radius: 10px;
  /* Bo tròn viền của div con */
}

.contentSignup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Chiều rộng của div con */
  max-height: 85%;
  /* Chiều cao tối đa của div con */
  overflow-y: auto;
  /* Cho phép cuộn nếu nội dung của div con quá dài */
  background-color: white;
  /* Màu nền của div con */
  padding: 20px;
  /* Khoảng cách giữa nội dung và viền của div con */
  border-radius: 10px;
  /* Bo tròn viền của div con */
}

.contentAddSchedule {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Chiều rộng của div con */
  max-height: 90%;
  /* Chiều cao tối đa của div con */
  overflow-y: auto;
  /* Cho phép cuộn nếu nội dung của div con quá dài */
  background-color: white;
  /* Màu nền của div con */
  padding: 20px;
  /* Khoảng cách giữa nội dung và viền của div con */
  border-radius: 10px;
  /* Bo tròn viền của div con */
}

.contentInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Chiều rộng của div con */
  max-height: 85%;
  /* Chiều cao tối đa của div con */
  overflow-y: auto;
  /* Cho phép cuộn nếu nội dung của div con quá dài */
  background-color: white;
  /* Màu nền của div con */
  padding: 20px;
  /* Khoảng cách giữa nội dung và viền của div con */
  border-radius: 10px;
  /* Bo tròn viền của div con */
}

.contentAddFilm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Chiều rộng của div con */
  max-height: 85%;
  /* Chiều cao tối đa của div con */
  overflow-y: auto;
  /* Cho phép cuộn nếu nội dung của div con quá dài */
  background-color: white;
  /* Màu nền của div con */
  padding: 20px;
  /* Khoảng cách giữa nội dung và viền của div con */
  border-radius: 10px;
  /* Bo tròn viền của div con */
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.formbold-mb-3 {
  margin-bottom: 15px;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-img {
  display: block;
  margin: 0 auto 45px;
}

.formbold-input-wrapp>div {
  display: flex;
  gap: 20px;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.formbold-input-flex>div {
  width: 50%;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-form-input::placeholder,
select.formbold-form-input,
.formbold-form-input[type='date']::-webkit-datetime-edit-text,
.formbold-form-input[type='date']::-webkit-datetime-edit-month-field,
.formbold-form-input[type='date']::-webkit-datetime-edit-day-field,
.formbold-form-input[type='date']::-webkit-datetime-edit-year-field {
  color: rgba(83, 99, 135, 0.5);
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-file-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.formbold-form-file-flex .formbold-form-label {
  margin-bottom: 0;
}

.formbold-form-file {
  font-size: 14px;
  line-height: 24px;
  color: #536387;
}

.formbold-form-file::-webkit-file-upload-button {
  display: none;
}

.formbold-form-file:before {
  content: 'Upload file';
  display: inline-block;
  background: #EEEEEE;
  border: 0.5px solid #FBFBFB;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  color: #637381;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-w-45 {
  width: 45%;
}

.min-vh-50 {
  min-height: 50vh !important
}

.fs-7 {
  font-size: 0.8rem !important
}

.custom-hover {
  color: white;
}

.custom-hover:hover {
  color: rgb(242, 139, 4);
}