.table-body {
    flex: 1 1 auto;
    padding: 2%;
}

tr th {
    text-align: center;
}

thead {
    font-size: 1.1em;
}

.form-select {
    width: 24vw !important;
    margin: 1vh 0vh;
}

.name-feature {
    margin-top: 1.5rem;
}

.schedule-option {
    display: flex;
    align-items: center;
    margin-left: 0.3vw;
    /* margin: 0.9vw; */
}

.schedule-option label {
    width: 16vw;
}

.btnDelete {
    width: 50%;
    background-color: rgba(221, 28, 28, 0.771);
    color: white;
    border: 0;
    border-radius: 8%;
}

.tdCenter {
    text-align: center;
}

.shortest {
    width: 22%;
}

.longest {
    width: 35%;
}

.equal {
    width: 15%;
}

.thDel {
    width: 8%;
}

.fixed-table {
    table-layout: fixed;
}

.highlight-row:hover {
    background-color: #f5f5f5;
}